.globalheader{
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar-container{
    align-items: center;
    overflow: auto;
    background-color: antiquewhite;
}
.category-button{
    padding: 10px;
    float: left;
}
.nav-account-button{
    float: right;
    padding: 10px;
}
.active-category{
    border-bottom: 3px solid #007bff;
    pointer-events: none;
    text-decoration: none; /* Remove underline */
    cursor: default; /* Change cursor style */
}