.product-listing-component-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 100px;
    text-align: center;
  }
.product-in-PLP{
    padding: 10px;
}
.product-image-container{
    width: auto;
}
.plp-filter
{
    overflow: auto;
    margin-top: 20px;
}
.card{
    border: none !important;
    cursor: pointer;
}

.card-img-top{
    object-fit: contain;
    height: 250px;
    transition: transform 0.3s ease;
}

.card-img-top:hover {
    transform: scale(1.05);
}

.linkArea{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
}

.linkArea:hover + .card-img-top {
    transform: scale(1.1); /* Zoom the card image when hovering over the link */
}

